@tailwind base;
@tailwind components;
@tailwind utilities;

.expense {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    backdrop-filter: blur(16px);
    border-radius: 16px;
    box-shadow: 16px;
    width: 400px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}